<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marie Curie</title>
</head>
<body>
    <h1 class="titulo">Marie Curie</h1> 
<h3>Pequeña descripción:</h3>

<div class="pic">
    <img src="\img\marie-curie.jpg" alt="" width="550" height="450">
    <p>Marie Curie fue pionera en varios campos. Además de ser la primera mujer en ganar un Premio Nobel, es la única mujer en ganar el premio en dos campos diferentes. Por si fuera poco, ella fue la primera mujer docente en la célebre Universidad de la Sorbona. 
        Trabajando con su esposo, Pierre Curie, Marie Curie descubrió el polonio y el radio en 1898. En 1903 ganaron el Premio Nobel de Física por descubrir la radioactividad. En 1911 ganó el Premio Nobel de Química por aislar radio puro. Después de trabajar en rayos X durante la Primera Guerra Mundial, estudió sustancias radiactivas y sus aplicaciones médicas.
        Las contribuciones de Marie Curie a la física fueron inmensas, no solo en su propio trabajo, como lo indican sus dos premios Nobel, sino también a través de su influencia en las generaciones posteriores de físicos y químicos nucleares. Su trabajo allanó el camino para el descubrimiento del neutrón y la radioactividad artificial.
        Durante la Primera Guerra Mundial, Marie Curie, con la ayuda de su hija Irène, se dedicó al desarrollo del uso de los rayos X. Desde 1922, miembro de la Academia de Medicina, esta valiente mujer dedicó sus investigaciones al estudio de la química de las sustancias radiactivas y las aplicaciones médicas de estas sustancias.
        Finalmente, en 1934, Marie Curie murió como consecuencia de una leucemia provocada por la acción de la radiación.</p>
</div>
  
<h5 class="subtitulo2">Para más información:</h5>
<h5><a href="https://www.conicyt.cl/mujeres-en-ciencia-y-tecnologia/mujeres-destacadas/premios-nobel/marie-curie/">Conicyt: Marie Curie</a></h5>
<h5><a href="https://mujeresconciencia.com/2015/09/14/el-arduo-camino-al-nobel-de-marie-curie/">Mujeres conciencia: Camino de Marie Curie al premio nobel</a></h5>
<h3><a href="/">Volver al inicio</a></h3>
<h3><a href="/aretha-franklin">Siguiente</a></h3>
</body>
</html>