<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aretha Franklin</title>
</head>
<body>
    <h1 class="titulo">Aretha Franklin</h1>
    <h3>Pequeña descripción</h3>
    <div class="pic">
    <img src="\img\Aretha_Franklin_1968.jpg" alt="" width="490" height="450">
    <p>Fue una cantante estadounidense de soul, R&B y góspel. Apodada «Lady Soul» o «Queen of soul», fue la máxima exponente de aquel género, y una de las más grandes transmisoras de góspel de todos los tiempos, así como una de las artistas más influyentes en la música contemporánea.
        A mediados de la década de 1960, se consolidó como estrella femenina del soul, algo que usó en favor de los derechos raciales en Estados Unidos, siendo un elemento influyente dentro del movimiento racial y de la liberación femenina. En 1987, se convirtió en la primera mujer en entrar en el Rock and Roll Hall of Fame.
        A lo largo de su vida vendió 75 millones de discos y está considerada por la revista Rolling Stone una de las 100 mejores cantantes de todos los tiempos. Tras su fallecimiento se le otorgó el Premio Pulitzer 2019 por su increíble contribución a la música y cultura americana.</p>
    </div>
        
    <h5 class="subtitulo2">Para más información:</h5>
    <h5><a href="https://es.wikipedia.org/wiki/Aretha_Franklin">Wikipedia</a></h5>
    <h3><a href="/">Volver al inicio</a></h3>
    <h3><a href="/marie-curie">Anterior</a></h3>
    <h3><a href="/howard-philips-lovecraft">Siguiente</a></h3>
</body>
</html>