<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent Van Gogh</title>
</head>
<body>
    <h1 class="titulo">Vincent Van Gogh</h1>
    <h3>Pequeña descripción:</h3>
    <div class="pic">
     <img src="\img\ret-Van-Gogh.jpg" alt="" width="550" height="550">
     <p>Fue un pintor holandés. En las décadas finales del siglo XIX, el impresionismo marcó el inicio de una profunda renovación de las artes plásticas que tendría continuidad en la sucesión de ismos o corrientes del arte contemporáneo. El reconocimiento de su obra no empezó hasta un año después de su muerte, a raíz de una exposición retrospectiva organizada por el Salón de los Independientes.
        Uno de los sueños de Van Gogh como artista fue la de iniciar una colonia de artistas en Arles, en el sur de Francia. Vincent se trasladó a Arles donde fue acompañado por Gauguin. Una vez allí, Van Gogh entró en el período más productivo y creativo de su vida a pintar su famoso Girasoles. Sin embargo, también fue una época de gran agitación por Vincent comenzando un período de estancia en el hospital para enfermedades mentales y deterioro físico.
        Después de tan sólo diez años de pintura y producir unas 900 pinturas, Vincent van Gogh se quitó la vida en 1890. Veinte años después de su muerte, había espectáculos conmemorativos de sus trabajos por todo el mundo.
     </p>   
    </div>
    <div>
        <p>Autorretrato frente al caballete:</p>
        <img src="\img\autorretrato-frente-al-caballete-vincent-van-gogh_1.jpg" alt="" width="300" height="450">
    </div>
    <h5 class="subtitulo2">Para más información:</h5>
    <h5><a href="https://www.biografiasyvidas.com/biografia/g/gogh.htm">Biografía</a></h5>
    <h5><a href="https://historia-arte.com/artistas/vincent-van-gogh">Historia del Arte: Vincent Van Gogh</a></h5>
    <h3><a href="/">Volver al inicio</a></h3>
<h3><a href="/emilio-pettoruti">Anterior</a></h3>
</body>
</html>