<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
</head>
<body>
    <h1 class="titulo">Mis Héroes y Heroínas</h1> 
    <ul type="none">
    <li class="subtitulo"><a href="/marie-curie">Marie Curie</a></li>
    <li class="subtitulo"><a href="/aretha-franklin">Aretha Franklin</a></li>
    <li class="subtitulo"><a href="/howard-philips-lovecraft">H. P. Lovecraft</a></li>
    <li class="subtitulo"><a href="/edgar-allan-poe">Edgar Allan Poe</a></li>
    <li class="subtitulo"><a href="/emilio-pettoruti">Emilio Pettoruti</a></li>
    <li class="subtitulo"><a href="/vincent-van-gogh">Vincent Van Gogh</a></li>
    </ul>
</body>
</html>