<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Howard Philips Lovecraft</title>
</head>
<body>
    <h1 class='titulo'>Howard Philips Lovecraft</h1>
    <h3>Pequeña descripción:</h3>
    <h4>Fue un escritor estadounidense famoso por sus trabajos en el género de terror escribiendo relatos publicados en revistas pulp durante su vida. Lovecraft es reconocido por haber creado el género del horror cósmico, también conocido como horror lovecraftiano o simplemente lovecraftiano. El género combina elementos de terror junto con ciencia ficción. Lovecraft también fue fundador de la filosofía literaria llamada cosmicismo.
    Entre relatos, novelas, poemarios y ensayos, Lovecraft cuenta con un total de 116 publicaciones, siendo la mayoría de ellas individuales y cerca de tres decenas en colaboración. 
    Fuertemente influenciado por autores como Edgar Allan Poe y Lord Dunsany, interesado por las mitologías árabe y griega, y por historia góticas y sobrenaturales, escribió varios cuentos y poemas inspirados en ellas. Y no pasó mucho tiempo para crear todo un universo mitológico propio, cuya composición poco a poco fue aportando lo suyo al género del terror, la fantasía y la ciencia ficción. Varios son los críticos que señalan cierto pesimismo y cinismo a lo largo de su producción literaria, la cual dividen en tres grandes periodos: el de las historias macabras (1905-1920), el ciclo onírico y del sueño (1920-1927) y el de los famosos mitos de Cthulhu (1925-1935).
    </h4>
    <span>
    <img src="\img\howard-phillips-lovecraft.jpg" alt="" width="470" height="450">
    <img src="\img\lovecraft2.jpg" alt="" width="440" height="450">
    </span>
    <h5 class="subtitulo2">Para más información:</h5>
    <h5><a href="https://www.lecturalia.com/autor/1303/h-p-lovecraft">Lecturalia</a></h5>
    <h5><a href="https://hplovecraft.fandom.com/es/wiki/Howard_Phillips_Lovecraft">Fandom Wiki</a></h5>
    <h3><a href="/">Volver al inicio</a></h3>
    <h3><a href="/aretha-franklin">Anterior</a></h3>
    <h3><a href="/edgar-allan-poe">Siguiente</a></h3>
</body>
</html>