<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilio Pettoruti</title>
</head>

<body>
   <h1 class="titulo">Emilio Pettoruti</h1>
<h3>Pequeña descripción:</h3>
<div class="pic">
   <img src="\img\pettoruti-emilio-personal.jpg" alt="" width="350" height="450">
   <p>
    (La Plata, 1894 - París, 1971) Pintor argentino. Durante sus años de estancia en Europa (1913-1924), se puso en contacto con las principales escuelas vanguardistas de los países que visitaba; a través del cubismo de Picasso y Braque y del futurismo de Marinetti se acercó al arte abstracto, manteniendo un equilibrio inestable entre abstracción y representación.
    Tras estudiar bellas artes en su ciudad natal, Emilio Pettoruti inició su actividad como caricaturista. Becado por el gobierno de la provincia de Buenos Aires, se trasladó a Italia en 1913 y allí estudió pintura e historia del arte en Florencia; en Italia conoció y recibió el influyo de los futuristas (Giacomo Balla, Umberto Boccioni, Carlo Carrà y Gino Severini, entre otros), con los que organizó algunas exposiciones, pero también recorrió los museos del país, estudiando a los maestros renacentistas. Con posterioridad trabó contacto con las más importantes tendencias vanguardistas de la época en Francia (especialmente el cubismo sintético de Juan Gris), Austria y Alemania, países en los que realizó nuevas exposiciones.
De regreso a la Argentina, introdujo en los círculos pictóricos las premisas estéticas del futurismo y las del cubismo, no sin causar revuelo entre los críticos y artistas conservadores. Sería esta última corriente la que prevalecería en sus obras.
En Argentina fundó y dirigió la revista Crónica de Arte y fue por dos veces director del Museo de Bellas Artes de La Plata. En 1941 visitó los Estados Unidos, donde dio a conocer su creación en diversas exposiciones organizadas por el Museo de Arte de San Francisco. En 1953 se estableció definitivamente en París.
   </p> 
   <ul type="none"><h5>Períodos</h5>
    <li>Cubismo</li>
    <li>Futurismo</li>
    <li>Modernismo</li>
    <li>Constructivismo</li>
    <li>Abstracción geométrica</li>
</ul>
</div>

<h4>El hombre de la flor amarilla (1932):</h4>
<img src="\img\pett-retrato.jpeg" alt="" width="250" height="250">
<h5 class="subtitulo2">Para más información:</h5>
<h5><a href="https://www.biografiasyvidas.com/biografia/p/pettoruti.htm">Biografía completa</a></h5>
<h5><a href="https://www.cultura.gob.ar/emilio-pettoruti-el-gran-cubista-argentino-9568/">El gran cubista argentino</a></h5>
<h3><a href="/">Volver al inicio</a></h3>
<h3><a href="/edgar-allan-poe">Anterior</a></h3>
<h3><a href="/vincent-van-gogh">Siguiente</a></h3> 
</body>
</html>