<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edgar Allan Poe</title>
</head>

<body>
    <h1 class="titulo">Edgar Allan Poe</h1>
<h3>Pequeña descripción:</h3>
<div class="pic">
<img src="\img\200px-Edgar_Allan_Poe_2.jpg" alt="" width="250" height="350">
<img src="\img\09393add3abf40349a44520aa47e01a8.jpg" alt="" width="250" height="350">
<p>Fue un escritor, poeta, crítico y periodista romántico​​ estadounidense. Fue renovador de la novela gótica, recordado especialmente por sus cuentos de terror. Escribió alrededor de sesenta cuentos, además de una serie de poemas, aunque a este género no le dedicó el tiempo que él hubiera deseado debido a su situación económica. Para él la máxima expresión literaria era la poesía. 
La importancia de Poe, además de la gran valía de sus escritos poéticos, radica en sus novelas cortas de detectives, horror y misterio con trazos góticos. Es reconocido como uno de los maestros universales del relato corto y por ser el predecesor de la novela policíaca moderna. Sus relatos descollan por su belleza literaria y por combinar en ellos lo siniestro y macabro con el humor, el terror, el horror y la poesía.
</p>
</div>

<h5 class="subtitulo2">Para más información:</h5>
<h5><a href="https://www.lecturalia.com/autor/316/edgar-allan-poe">Lecturalia</a></h5>
<h5><a href="https://historia.nationalgeographic.com.es/a/edgar-allan-poe-maestro-terror_14764">De National Geographic: El Maestro del Terror</a></h5>
<h3><a href="/">Volver al inicio</a></h3>
<h3><a href="/howard-philips-lovecraft">Anterior</a></h3>
<h3><a href="/emilio-pettoruti">Siguiente</a></h3>
</body>
</html>